<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414894578857-6fbb25iq3ldfhegogdphfp309112f02m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414894578857-6fbb25iq3ldfhegogdphfp309112f02m</string>
	<key>API_KEY</key>
	<string>AIzaSyCTfTX7hz3pD2OBc9qtD7ApE8k_UVVBKyE</string>
	<key>GCM_SENDER_ID</key>
	<string>414894578857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odeveloper.Test1</string>
	<key>PROJECT_ID</key>
	<string>test1-referer</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-referer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414894578857:ios:6369a62d3e5119cc34ddb8</string>
</dict>
</plist>