<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Test1_referer</string>
	<key>CFBundleIdentifier</key>
	<string>com.odeveloper.Test1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Test1_referer</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.odeveloper.Test1</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https://www.test1odev.page.link/bjYi</string>
				<string>https://test1ref.ru/pp</string>
				<string>test1ref.ru/pp</string>
				<string>test1ref.ru</string>
				<string>test1ref</string>
				<string>https</string>
				<string>test1odev.page.link</string>
				<string>test1odev.page.link/bjYi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>https://www.test1odev.page.link/bjYi</string>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>test1_ref.ru</string>
		<string>www.test1_ref.ru</string>
	</array>
</dict>
</plist>
